<footer class="footer">
  <div class="first">
    <h5>SnapShop</h5>
    <ul>
      <li><a href="" class="subs">Subscribe</a></li>
      <li><a href="">Get 10% off your first order</a></li>
      <li>
        <div class="input-container">
          <input type="search" placeholder="Enter your email" />
          <i class="ri-send-plane-2-line"></i>
        </div>
      </li>
    </ul>
  </div>

  <div class="second">
    <h5>Support</h5>
    <ul>
      <li>111 Bijoy sarani, Dhaka</li>
      <li>SnapShop.com</li>
      <li>+88015-88888-9999</li>
    </ul>
  </div>

  <div class="first">
    <h5>Account</h5>

    <ul>
      <li><a href="">My Account</a></li>
      <li><a href="">Login/Register</a></li>
      <li><a href="">Cart</a></li>
      <li><a href="">Shop</a></li>
    </ul>
  </div>

  <div class="first">
    <h5>Quick Link</h5>

    <ul>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Terms Of Use</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
  <div class="fifth">
    <h5>Download App</h5>

    <ul>
      <li class="qr">Save $3 with App New User Only</li>

      <div class="Images">
        <img src="./assets/footerImages/qrcode.png" />

        <div class="storeImage">
          <img src="./assets/footerImages/apple.png" />
        </div>
      </div>
      <div class="socialMedia">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </ul>
  </div>
</footer>
