<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="true"
  data-bs-interval="3000"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block w-100 images">
        <div class="row">
          <div class="col-md-6">
            <div class="text-left">
              <h1 class="text-white">
                <i class="ri-apple-fill"></i
                ><span class="text-at-top">iphone14</span>
              </h1>
              <h2 class="text-capitalize text-white">Up to 10% Of Voucher</h2>
              <h1 class="py-2 fw-bold text-white">New Season</h1>
              <a class="btn mt-3 text-uppercase"
                >Buy Now<span><i class="ri-arrow-right-line"></i></span
              ></a>
            </div>
          </div>
          <div class="col-md-6 imagesection">
            <img src="./assets/iphone2.png" class="img-fluid" alt="Image" />
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="d-block w-100 images">
        <div class="row">
          <div class="col-md-6">
            <div class="text-left">
              <h1 class="text-white">
                Samsung<span class="text-at-top">Tv</span>
              </h1>
              <h2 class="text-capitalize text-white">Best Price & Offer</h2>
              <h1 class="py-2 fw-bold text-white">New Season</h1>
              <a class="btn mt-3 text-uppercase"
                >Buy Now<span><i class="ri-arrow-right-line"></i></span
              ></a>
            </div>
          </div>
          <div class="col-md-6 imagesection">
            <img src="./assets/monitor.png" class="img-fluid" alt="Image" />
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="d-block w-100 images">
        <div class="row">
          <div class="col-md-6">
            <div class="text-left">
              <h1 class="text-white">
                <i class="ri-vip-diamond-line"></i
                ><span class="text-at-top">diamond</span>
              </h1>
              <h2 class="text-capitalize text-white">Best Price & Offer</h2>
              <h1 class="py-2 fw-bold text-white">New Season</h1>
              <a class="btn mt-3 text-uppercase"
                >Buy Now<span><i class="ri-arrow-right-line"></i></span
              ></a>
            </div>
          </div>
          <div class="col-md-6 imagesection">
            <img
              src="./assets/dimond-Ring3.png"
              class="img-fluid"
              alt="Image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
    style="display: none"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
    style="display: none"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
