<div class="topSectioSlider">
  <app-slider></app-slider>
</div>

<ng-container *ngIf="isLoading; else homeComponent">
  <app-loading-spinner></app-loading-spinner>
</ng-container>





<ng-template #homeComponent>
  @defer{
  <div class="main">
    <div>
      <!-- dfirst section start-->

      <div class="FlashSaleSection">
        <div class="slider">
          <div class="Day">
            <div class="box"></div>
            <p>Today's</p>
          </div>
          <div class="Tittle">Flash Sale</div>

          <div class="if" *ngIf="numberOfSlidesss">
            <app-product-carousel
              class="app-product"
              [numberOfSlides]="numberOfSlidesss"
            ></app-product-carousel>
          </div>

          <!-- </div> -->
        </div>

        <div class="buttonViewProduct">
          <button class="buttonView" (click)="viewAllProducts()">
            View all Products
          </button>
        </div>

        <div class="horizontalLine"></div>
      </div>

      <div class="FlashSaleSection categorysection">
        <div class="slider">
          <div class="Day">
            <div class="box"></div>
            <p>Categories</p>
          </div>
          <div class="Tittle catTittle">Browse By Category</div>

          <div class="CardList categorycard">
            <div class="" *ngFor="let item of combinedArraycategory">
              <app-category
                (click)="navigateToProductList(item.category)"
                [category]="item.category"
                [iconCategory]="item.icon"
              ></app-category>
            </div>
          </div>

          <div class="horizontalLine-hrcategory"></div>
        </div>
      </div>

      <div class="FlashSaleSection mt-0 topratedProduct">
        <div class="slider">
          <div class="Day">
            <div class="box"></div>
            <p>This Month</p>
          </div>

          <div class="tittle-bar-forTop-rated">
            <div class="Tittle">Top Rated Products</div>
            <div class="buttonViewProduct">
              <button class="buttonView" (click)="viewAllProducts()">
                View all Products
              </button>
            </div>
          </div>

          <div class="if" *ngIf="numberOfSlidesRatting != undefined">
            <app-product-carousel
              [numberOfSlides]="numberOfSlidesRatting"
            ></app-product-carousel>
          </div>
        </div>
      </div>

      <!-- 

            enhence exp
         -->

      <div class="Enhance-Your-Product-Section">
        <div class="Left-text-section">
          <p>Category</p>
          <h3>Enhance Your Music Experience</h3>
          <ul class="time">
            <li><span class="number">23</span> <br />Hours</li>
            <li><span class="number">05</span> <br />Days</li>
            <li><span class="number">59</span> <br />minutes</li>
            <li><span class="number">35</span> <br />seconds</li>
          </ul>
          <button class="buy-now-btn">Buy Now</button>
        </div>
        <div class="right-img-section">
          <img src="./assets\CardImg\jbl.png" alt="" />
        </div>
      </div>

      <!-- our product -->

      <!-- Explore our product start  -->

      <div class="FlashSaleSection Explore-product">
        <div class="slider">
          <div class="Day">
            <div class="box"></div>
            <p>Our Products</p>
          </div>

          <div class="tittle-bar-forTop-rated">
            <div class="Tittle">Explore Our Products</div>
          </div>

          <div class="if" *ngIf="numberOfSlidesss">
            <app-product-list
              class="app-product"
              [numberOfSlides]="numberOfSlidesss"
            ></app-product-list>
          </div>
        </div>

        <div class="buttonViewProduct">
          <button class="buttonView" (click)="viewAllProducts()">
            View all Products
          </button>
        </div>
      </div>

      <!-- Explore our product end  -->

      <!-- new Arival start  -->

      <div class="FlashSaleSection newarrivalSec">
        <div class="slider">
          <div class="Day">
            <div class="box"></div>
            <p>Featured</p>
          </div>
          <div class="Tittle catTittle">New Arival</div>

          <div class="newArival">
            <div class="box1 box1left">
              <div class="bg-image">
                <img src="./assets\newAribal\img1.png" />

                <div
                  class="mask text-light d-flex justify-content-end flex-column"
                  style="margin-left: auto"
                >
                  <h4 style="font-weight: bold">PlayStation 5</h4>
                  <h5 style="color: rgb(139, 142, 145)">
                    Black and White version of the PS5 coming out on sale.
                  </h5>
                  <a href="" style="color: white">Shop Now</a>
                </div>
              </div>
            </div>

            <div class="box1">
              <div class="boxright boxrighttop">
                <div class="bg-image">
                  <img src="./assets\newAribal\img22.png" />

                  <div
                    class="mask text-light d-flex justify-content-end flex-column"
                    style="padding: 0px 0px 25px 0px"
                  >
                    <h4 style="font-weight: bold">Women’s Collections</h4>
                    <h5 style="color: rgb(139, 142, 145)">
                      Featured woman collections that give you another vibe.
                    </h5>
                    <a href="" style="color: white">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="boxright">
                <div class="boxright-bottom">
                  <div class="bg-image">
                    <img
                      src="./assets\newAribal\img 5.png"
                      style="text-align: left"
                    />
                    <div
                      class="mask text-light d-flex justify-content-end flex-column"
                      style="padding: 0px 0px 17px 25px"
                    >
                      <h4 style="font-weight: bold">Speakers</h4>
                      <h5 style="color: rgb(139, 142, 145)">
                        Black and White version of the PS5 coming out on sale.
                      </h5>
                      <a href="" style="color: white">Shop Now</a>
                    </div>
                  </div>
                </div>
                <div class="boxright-bottom">
                  <div class="bg-image">
                    <img
                      src="./assets\newAribal\img 6.png"
                      style="text-align: left"
                    />
                    <div
                      class="mask text-light d-flex justify-content-end flex-column"
                      style="padding: 0px 0px 0px 20px"
                    >
                      <h4 style="font-weight: bold">Perfume</h4>
                      <h5 style="color: rgb(139, 142, 145)">
                        GUCCI INTENSE OUD EDP.
                      </h5>
                      <a href="" style="color: white">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- new Arival end  -->

      <!-- dsjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->

      <div class="container">
        <div class="first container1">
          <i class="fa-solid fa-truck"></i>
          <h5>FREE AND FAST DELIVERY</h5>
          <p>Free delivery for all orders over $140</p>
        </div>
        <div class="Second container1">
          <i class="fa-solid fa-headphones"></i>
          <h5>24/7 CUSTOMER SERVICE</h5>
          <p>Friendly 24/7 customer support</p>
        </div>
        <div class="Third container1">
          <i class="fa-regular fa-square-check"></i>
          <h5>MONEY BACK GUARANTEE</h5>
          <p>We reurn money within 30 days</p>
        </div>
      </div>
    </div>
  </div>
}
</ng-template>


