<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div *ngIf="numberOfSlides; else defined">
      <div
        class="carousel-item"
        *ngFor="let slides of numberOfSlides; let i = index"
        [ngClass]="{ active: i === 0 }"
      >
        <div class="card-group">
          <div class="card card-wrapper" *ngFor="let card of slides">
            <app-card [cardInfo]="card"></app-card>
          </div>
        </div>
      </div>
    </div>

    <ng-template #defined>
      <div class="div"></div>
    </ng-template>
  </div>
  <!-- Carousel controls -->
  <button
    class="carousel-control-prev custom-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next custom-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
